@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.75rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0, 50%, 53%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    @font-face {
        font-family: "Queenside";
        src: url(/fonts/QueensidesMedium-x30zV.ttf);
    }

    @font-face {
        font-family: "Satoshi";
        src: url(/fonts/Satoshi-Regular.otf);
    }

    * {
        @apply border-border;
        font-family: "Satoshi", sans-serif;
    }

    .title,
    .subtitle {
        font-family: "Queenside", sans-serif !important;
    }

    body {
        @apply bg-background text-foreground;
    }

    @layer utilities {
        .custom-filter {
            -webkit-backdrop-filter: saturate(180%) blur(5px) !important;
            backdrop-filter: saturate(180%) blur(5px) !important;
        }
    }

    .bLEAHt {
        background: #e6f7ff;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 8px;
            background: linear-gradient(
                90deg,
                rgb(175 213 232) 0%,
                rgb(88 148 184) 100%
            );
        }
    }

    .fGUYkB {
        background: #fff1de;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 8px;
            background: linear-gradient(90deg, #ffe9cc 0%, #ffc6ac 100%);
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: #000;
        width: 2rem !important;
        height: 2rem !important;
        border-radius: 100%;
        &:hover {
            opacity: 1;
        }
        &::before,
        &::after {
            font-size: 1.2rem !important;
            color: #fff;
        }
    }
}

body::-webkit-scrollbar {
    display: none;
}
